
{{> header}}

   <script type="text/x-handlebars-template" id="tableTemplate"></script>
   <a href="/create">Agregar</a>
   {{#if equipos}}

        <table>
            {{#each equipos}}
                <tr>
                   <!-- <td>{{id}}</td> -->
                    <td>{{tla}}</td>
                    <td>{{shortName}}</td>
                    <td>{{area.name}}</td>
                    <td><a href="/delete/{{id}}">Eliminar</a></td>
                    <td><a href="/team/{{id}}"> Ver</a></td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <h3>No teams found!</h3>
    {{/if}}
