
{{> header}}

   <script type="text/x-handlebars-template" id="tableTemplate"></script>
   <a style="text-decoration:none" href="/create"><b>Agregar</b></a>
   {{#if equipos}}

        <table>
            {{#each equipos}}
                <tr>
                    <td><img src={{crestUrl}} alt="" height=20></img></td>
                    <td>{{tla}}</td>
                    <td>{{shortName}}</td>
                    <td>{{area.name}}</td>
                    <td><a style="text-decoration:none" href="/delete/{{id}}" onclick="return confirm('Eliminar a {{shortName}}?')">Eliminar</a></td>
                    <td><a style="text-decoration:none" href="/team/{{id}}"> Ver</a></td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <h3>No se encontraron euipos en la base de datos</h3>
    {{/if}}
